#####################################################################
#	Bed Mesh
#####################################################################
##FOLLOW THE FORUMULA FOR relative_reference_index, for example:
##[(7x7)-1] / 2 = 24
##[(5x5)-1] / 2 = 12
[bed_mesh]
mesh_min: 20,30 #40, 40 
mesh_max: 330,320 #310, 310 
horizontal_move_z: 8
speed: 450
probe_count: 5,5 #12,12
algorithm: bicubic
relative_reference_index: 12 #140
fade_start: 0.26
fade_end: 2
#fade_target: 0
#   The z position in which fade should converge. When this value is
#   set to a non-zero value it must be within the range of z-values in
#   the mesh. Users that wish to converge to the z homing position
#   should set this to 0. Default is the average z value of the mesh.
#move_check_distance: 3
#   The distance (in mm) along a move to check for split_delta_z.
#   This is also the minimum length that a move can be split. Default
#   is 5.0.
#split_delta_z: 0.01
#   The amount of Z difference (in mm) along a move that will
#   trigger a split. Default is .025.
#mesh_pps: 4,4
#   A comma separated pair of integers (X,Y) defining the number of
#   points per segment to interpolate in the mesh along each axis. A
#   "segment" can be defined as the space between each probed
#   point. The user may enter a single value which will be applied
#   to both axes.  Default is 2,2.
#bicubic_tension: 0.2
#   When using the bicubic algorithm the tension parameter above
#   may be applied to change the amount of slope interpolated.
#   Larger numbers will increase the amount of slope, which
#   results in more curvature in the mesh. Default is .2.


[gcode_macro LOAD_MESH_TEMP]
#default_parameter_BED_TEMPERATURE: 0
#default_parameter_FORCE: 0
gcode:
    {action_respond_info("AUTOMATED BED MESH GENERATOR")}
    {% if BED_TEMPERATURE|int < 30 %}
        {action_respond_info("Your bed temp is to low, make sure it is at least 30 or higher")}
    {% else %}
        {% if printer.configfile.config["bed_mesh " + BED_TEMPERATURE] is defined and FORCE|int == 0 %}
            G32
            BED_MESH_PROFILE LOAD={BED_TEMPERATURE}
            {action_respond_info("Succesfully loaded bed_mesh "+ BED_TEMPERATURE)}
        {% else %}
            {% if printer.configfile.config["bed_mesh " + BED_TEMPERATURE] is defined and FORCE|int == 1 %}
                BED_MESH_PROFILE REMOVE={BED_TEMPERATURE}
            {% endif %}
            {action_respond_info("bed_mesh not defined, your bed temperature will go up!")}
            {action_respond_info("We will probe the bed and save the mesh as bed_mesh "+ BED_TEMPERATURE)}
            ADD_BED_MESH TARGET_TEMP={BED_TEMPERATURE}
        {% endif %}
    {% endif %}

[gcode_macro ADD_BED_MESH]
#default_parameter_TARGET_TEMP: 30
gcode:
    M190 S{TARGET_TEMP}
    BED_MESH_CLEAR
    G28
    QUAD_GANTRY_LEVEL
    G28
    BED_MESH_CALIBRATE
    BED_MESH_PROFILE SAVE={TARGET_TEMP}
    SAVE_CONFIG

[gcode_macro LIST_STORED_MESHES]
gcode:
    {action_respond_info("stored meshes:")}
    # iterate config items
    {% for key, value in printer.configfile.config.iteritems() %}
        # if item is a bed_mesh print to terminal
        {% if key.startswith("bed_mesh ") %}
            {action_respond_info(key)}
        {% endif %}
    {% endfor %}
 
[gcode_macro CLEAR_STORED_MESHES]
gcode:
    {action_respond_info("I will delete all stored meshes")}
    # itrate config items
    {% for key, value in printer.configfile.config.iteritems() %}
        {% if key.startswith("bed_mesh ") %}
            # if item is a bed_mesh delete it
            {action_respond_info("Deleting mesh: " + key[9:])}
            BED_MESH_PROFILE REMOVE={key[9:]}
        {% endif %}
    {% endfor %}
    # save config
    {action_respond_info("WARNING, YOUR PRINTER WILL SAVE AND RESTART!")}
    G4 P250 ;wait for display
    SAVE_CONFIG

[gcode_macro G81]
gcode:
    BED_MESH_OUTPUT