#[gcode_macro Material]
#description: Enables purge line depending on filament.

#gcode:
#     {% set filament = params.FILAMENT|default('None')|string %}
     
[gcode_macro FILAMENTADJUST]
gcode:
     #PLA
    {% if printer.heater_bed.target <= 65 %}
        PURGE_LINE
    {% endif %}

    #ABS
    #{% if printer.heater_bed.target >= 100 %}

    #{% endif %}

    #PETG
    #{% if printer.heater_bed.target > 65 and printer.heater_bed.target < 100 %}
    #   
    #{% endif %}
